* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 9px;
  overflow-x: hidden;
}
body {
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #fafafa;
}
.navbar {
  position: fixed;
  height: 4%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 0px;
  bottom: 0;
}
.navbar a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}
.navbar i {
  padding: 1rem;
}
.navbar img {
  display: none;
}
.navbar li {
  list-style-type: none;
}
.remove {
  display: none;
}

.inner-div {
  margin: 0 auto;
}
.all1 {
  margin-left: 1rem;
  padding-bottom: 2rem;
}
.all1 img {
  height: auto;
  width: 100%;
  max-height: 10rem;
  max-width: 10rem;
  border-radius: 5rem;
  border: 0.188rem solid white;
}
.all2 {
  display: none;
}
.middle1 {
  display: none;
}
.middle2 {
  display: flex;
  font-size: 2rem;
  justify-content: space-around;
  border-top: 0.05rem solid rgb(180, 178, 178);
  border-bottom: 0.05rem solid rgb(180, 178, 178);
}
.middle2 p {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.top {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1rem;
}
/* components of top */
#name {
  font-size: 1.25rem;
  margin-bottom: 0.7rem;
}
#follow {
  background-color: rgb(0, 150, 255);
  border: 0.063rem solid rgb(0, 150, 255);
  border-radius: 0.313rem;
  min-height: 2rem;
  min-width: 4rem;
  color: white;
}
#messege {
  border: 0.063rem solid whitesmoke;
  border-radius: 0.313rem;
  min-height: 2rem;
  min-width: 5rem;
}
#plus {
  border: 0.063rem solid whitesmoke;
  border-radius: 0.313rem;
  height: auto;
  min-height: 2rem;
  min-width: 3rem;
}
#dots {
  display: none;
}
.bottom {
  font-size: 1rem;
}
.btm {
  font-size: 1.5rem;
}

#story {
  color: black;
  display: flex;
  text-decoration: none;
}

#story img {
  border-radius: 5rem;
  max-width: 6.375rem;
  max-height: 6.375rem;
  margin-bottom: 0.9rem;
}
#story div {
  display: grid;
  margin-right: 2.5rem;
  font-size: 1.5rem;
}

.allstory {
  margin-left: 1rem;
  margin-bottom: 4rem;
  overflow-x: hidden;
}

.feed {
  display: flex;
  min-height: 3rem;
  justify-content: space-around;
  cursor: pointer;
  font-size: 2.9rem;
}
.feed p {
  display: none;
}
.feed-span {
  margin: 1rem 3rem;
  text-align: center;
  display: flex;
  align-items: center;
}

.right-comp {
  color: black;
}
.container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.container img {
  height: auto;
  width: 100%;
}

.posts {
  color: white;
}

@media (min-width: 609px) {
  html {
    font-size: 10px;
  }
  .middle2 {
    display: none;
  }
  .all1 {
    display: none;
  }
  .center-comp {
    margin: 1rem 3rem;
  }

  .allstory {
    margin-bottom: 4rem;
  }

  #dots {
    margin-left: 0.625rem;
    display: block;
  }

  .all2 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3.8rem;
  }
  .all2 img {
    height: auto;
    width: 100%;
    margin-right: 2rem;
    max-height: 11.375rem;
    max-width: 11.375rem;
    border-radius: 7rem;
  }
  .top {
    margin-bottom: 1.875rem;
  }
  .middle1 {
    display: flex;
    gap: 2rem;
    margin-bottom: 1.563rem;
    font-size: 1rem;
  }
  .feed {
    justify-content: center;
    font-size: 1.9rem;
    border-top: 0.05rem solid rgb(199, 198, 198);
    border-bottom: 0.05rem solid rgb(199, 198, 198);
  }
  .feed p {
    display: block;
  }
}
/* ------SECOND MEDIA QUERY --------*/
@media (min-width: 860px) {
  .navbar {
    flex-direction: column;
    justify-content: start;
    gap: 3rem;
    width: 7rem;
    min-height: 100%;
    border-right: 0.05rem solid rgb(212, 209, 209);
  }
  .center-comp {
    margin-left: 12%;
    padding-top: 2.5rem;
    width: 85%;
  }
}

/*------ THIRD MEDIA QUERY ------*/
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
  .navbar {
    gap: 0.8rem;
    width: 15%;
    font-size: 1rem;
    align-items: flex-start;
  }
  .navbar img {
    display: block;
    max-height: 3rem;
    max-width: 7rem;
  }
  .center-comp {
    margin-left: 15%;
    padding-top: 2.5rem;
    width: 85%;
  }
  .inner-div {
    max-width: 58rem;
  }
  .remove {
    display: block;
  }
  #story img {
    width: 100%;
  }
  #story div {
    font-size: 0.75rem;
    font-weight: 500;
  }
  .feed-span {
    font-size: 1rem;
  }
  .container img {
    height: auto;
    width: 100%;
    opacity: 1;
    transition: opacity 0.5s ease;
  }

  .container img:hover {
    height: 19rem;
    width: 19rem;
    opacity: 0.8;
  }
}
