* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #fafafa;
}

.component{
  display: flex;
  margin: 10px;
}

.navbar {
  position: fixed;
  width: 20%;
  height:610px;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid rgb(161, 161, 161);
}

.navbar a {
  text-decoration: none;
  color:black;
  font-size: large;

}

.navbar i {
  color: black;
  padding: 20px;
}

.navbar img {
  height: 50px;
  width: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar div {
  padding: 10px;
  border: 1px solid #ccc;
}

.navbar li {
  list-style-type: none;
}

#navbar-profile{
  height: 22px; 
  width: 22px;
  border-radius: 10px;
  margin-left: 19px;
  margin-right: 14px;
}
#navbar-an{
  display: flex ;
   align-items: center;
}

.center-comp{
  width:60%;
  margin-left:280px
}

#story {
  color: black;
  width: 900px;
  display: flex;
  margin: 20px;
  justify-content: space-between;
  text-decoration: none;
}


#story img{
   border-radius: 40px;
  box-shadow: 0 0 0 2px white, 0 0 0 3px rgb(197, 197, 197);
  height: 70px;
  width: 70px;
}

#story div{
  display: grid;
  padding-right: 15px;
  padding-left: 25px;
  font-size: 12px;
}
.allstory{
  margin-left: 50px;
}

.right-comp{
  color: black;
}

#suggestions{
  display:block;
  margin-top: 40px;
}

#suggestions img{
  height: 150px;
  width:150px;
  border-radius: 80px;
  border: 3px solid  white; 
  margin-left: 130px;
  margin-right: 80px;
}

#name{
  font-size: large;

}

#follow{
  background-color: rgb(0, 150, 255);
  border: 1px solid rgb(0, 150, 255) ; 
  border-radius: 5px;
  height:30px;
  width:80px;
  color: white;
}
#messege{
  border: 1px solid whitesmoke ; 
  border-radius: 5px;
  height:30px;
  width:80px;
  font-weight: bold;
}

#plus{
  border: 1px solid whitesmoke ; 
  border-radius: 5px;
  height:30px;
  width:30px;
}
#dots{
  margin-left: 10px;
}

.all{
  display:flex;
  margin-bottom: 100px;
}

.top{
  width:400px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.top button{
  border: 3px solid  white;
  cursor: pointer;
}

.middle{
  width:300px;
  display:flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.vertical{
  width: 850px;
  margin-left: 100px;
}
.feed{
padding-top: 15px;
padding-bottom:8px;
padding-left: 360px;
width: 650px;
display: flex;
align-content: center;
align-items: center;
justify-content: space-between;
cursor: pointer;
}

.container{
  display: flex;
  width: 1000px;
}

.container img{
  height: 300px;
  width:300px;
  margin:20px;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.container img:hover {
  height: 310px;
  width:310px;
  opacity: 0.8;
}

.posts{
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.image-container0 {
  position: relative;
  display: inline-block;
}

.icon-0 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-container0:hover .icon-0 {
  opacity: 1;
}

.image-container1 {
  position: relative;
  display: inline-block;
}

.icon-1 {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-container1:hover .icon-1 {
  opacity: 1;
}
.image-container2 {
  position: relative;
  display: inline-block;
}

.icon-2 {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-container2:hover .icon-2 {
  opacity: 1;
}
.image-container3 {
  position: relative;
  display: inline-block;
}

.icon-3 {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-container3:hover .icon-3 {
  opacity: 1;
}
.image-container4 {
  position: relative;
  display: inline-block;
}

.icon-4 {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-container4:hover .icon-4 {
  opacity: 1;
}
.image-container5 {
  position: relative;
  display: inline-block;
}

.icon-5 {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-container5:hover .icon-5 {
  opacity: 1;
}
